html {
    scroll-behavior: smooth;
  }

.main-page{
    height: 100vh;
}

.main-page-2{
    height: 95vh;
}

.second-page {
    height: 100vh;
}

.thrid-page {
    height: 100vh;
}


.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bi-calendar3 {
    margin-right: 5px;
}

.osoite {
    text-decoration: none;
}

.navbar{
    text-align:center;
}

.varjo {
    text-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
    .main-page{
        height: auto;
    }
    
    .main-page-2{
        height: auto;
    }
    
    .second-page {
        height: auto;
    }
    
    .thrid-page {
        height: auto;
    }
    #hinnoittelu {
        scroll-margin-block-start: 20vh; 
      }
    
    #ominaisuudet {
        scroll-margin-block-start: 10vh; 
      }
    
    #meista {
        scroll-margin-block-start: 0vh; 
      }
    #otayhteytta {
        scroll-margin-block-start: 10vh;
      }
}


@media (min-width: 769px) and (max-width: 992px) {
    .main-page{
        height: auto;
    }
    
    .main-page-2{
        height: auto;
    }
    
    .second-page {
        height: auto;
    }
    
    .thrid-page {
        height: auto;
    }
    #hinnoittelu {
        scroll-margin-block-start: 25vh; 
      }
    
    #ominaisuudet {
        scroll-margin-block-start: 15vh; 
      }
    
    #meista {
        scroll-margin-block-start: 3vh; 
      }
    #otayhteytta {
        scroll-margin-block-start: 0vh;
      }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #hinnoittelu {
        scroll-margin-block-start: 20vh; 
      }
    
    #ominaisuudet {
        scroll-margin-block-start: 20vh; 
      }
    
    #meista {
        scroll-margin-block-start: 20vh; 
      }
    #otayhteytta {
        scroll-margin-block-start: 10vh;
      }
      .fourth-page {
        margin-bottom: 20vh;
     }
}

@media (min-width: 1440px) {
    #hinnoittelu {
        scroll-margin-block-start: 25vh; 
      }
    
    #ominaisuudet {
        scroll-margin-block-start: 25vh; 
      }
    
    #meista {
        scroll-margin-block-start: 20vh; 
      }
    #otayhteytta {
        scroll-margin-block-start: 5vh;
      }
}

@media (min-width: 1991px) {
  .fourth-page {
    margin-bottom: 20vh;
 }
}